.version.index /* version checker */
{
	color: #0000E5;
	background-color: #883831;
}

.html
{
	background: #FFFFFF url("../images/300.jpg") no-repeat center top scroll;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 3861px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 92px;
	padding-bottom: 86px;
	width: 0.01px;
}

#u117
{
	z-index: 7;
	width: 50px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u110-4
{
	z-index: 3;
	width: 200px;
	min-height: 42px;
	background-color: #FFFFFF;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 500px;
	margin-top: 485px;
	position: relative;
}

#u110-4:hover
{
	background-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 200px;
	margin: 485px 0px 0px 500px;
}

#u110-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u110-2
{
	padding-top: 11px;
}

#works
{
	margin-left: 264px;
	margin-top: 307px;
	position: relative;
}

#pamphletu170
{
	z-index: 8;
	width: 0.01px;
	height: 1583px;
	left: -1px;
	margin-top: 211px;
	position: relative;
}

#u182
{
	z-index: 9;
	width: 1199px;
	position: relative;
	margin-right: -10000px;
}

#u183
{
	position: absolute;
	width: 373px;
	height: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

.ie #u183
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u183:hover
{
	border-style: none;
	border-color: transparent;
	width: 373px;
	height: 250px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/5956091.png") no-repeat center center;
}

#u185
{
	position: absolute;
	width: 370px;
	height: 248px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 1px;
	left: 415px;
}

.ie #u185
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u185:hover
{
	width: 370px;
	height: 248px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/5956091.png") no-repeat center center;
}

#u216
{
	position: absolute;
	width: 370px;
	height: 248px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 1px;
	left: 829px;
}

.ie #u216
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u216:hover
{
	width: 370px;
	height: 248px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/5956091.png") no-repeat center center;
}

#u226
{
	position: absolute;
	width: 370px;
	height: 248px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 330px;
	left: 1px;
}

.ie #u226
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u226:hover
{
	width: 370px;
	height: 248px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/5956091.png") no-repeat center center;
}

#u234
{
	position: absolute;
	width: 370px;
	height: 248px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 330px;
	left: 414px;
}

.ie #u234
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u234:hover
{
	width: 370px;
	height: 248px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/5956091.png") no-repeat center center;
}

#u242
{
	position: absolute;
	width: 370px;
	height: 248px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 330px;
	left: 829px;
}

.ie #u242
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u242:hover
{
	width: 370px;
	height: 248px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/5956091.png") no-repeat center center;
}

#u250
{
	position: absolute;
	width: 370px;
	height: 248px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 664px;
	left: 1px;
}

.ie #u250
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u250:hover
{
	width: 370px;
	height: 248px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/5956091.png") no-repeat center center;
}

#u258
{
	position: absolute;
	width: 370px;
	height: 248px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 664px;
	left: 415px;
}

.ie #u258
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u258:hover
{
	width: 370px;
	height: 248px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/5956091.png") no-repeat center center;
}

#u266
{
	position: absolute;
	width: 370px;
	height: 248px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 664px;
	left: 829px;
}

.ie #u266
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u266:hover
{
	width: 370px;
	height: 248px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/5956091.png") no-repeat center center;
}

#u274
{
	position: absolute;
	width: 370px;
	height: 248px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 1002px;
	left: 2px;
}

.ie #u274
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u274:hover
{
	width: 370px;
	height: 248px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/5956091.png") no-repeat center center;
}

#u282
{
	position: absolute;
	width: 370px;
	height: 248px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 1002px;
	left: 415px;
}

.ie #u282
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u282:hover
{
	width: 370px;
	height: 248px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/5956091.png") no-repeat center center;
}

#u290
{
	position: absolute;
	width: 370px;
	height: 248px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 1002px;
	left: 829px;
}

.ie #u290
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u290:hover
{
	width: 370px;
	height: 248px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/5956091.png") no-repeat center center;
}

#u361
{
	position: absolute;
	width: 370px;
	height: 248px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 1334px;
	left: 2px;
}

.ie #u361
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u361:hover
{
	width: 370px;
	height: 248px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/5956091.png") no-repeat center center;
}

#u408
{
	position: absolute;
	width: 370px;
	height: 248px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 1335px;
	left: 414px;
}

.ie #u408
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u408:hover
{
	width: 370px;
	height: 248px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/5956091.png") no-repeat center center;
}

#u416
{
	position: absolute;
	width: 370px;
	height: 248px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 1335px;
	left: 829px;
}

.ie #u416
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u416:hover
{
	width: 370px;
	height: 248px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/5956091.png") no-repeat center center;
}

#u175
{
	position: absolute;
	width: 1202px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: -179px;
	left: 1px;
	-pie-background: rgba(0,0,0,0.9);
}

#u175popup
{
	z-index: 25;
}

#u180
{
	z-index: 26;
	width: 1158px;
	height: 2217px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/231.jpg") no-repeat center top;
	background-size: cover;
}

#u176
{
	z-index: 27;
	width: 1158px;
	height: 2217px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/232.jpg") no-repeat center top;
	background-size: contain;
}

#u217
{
	z-index: 28;
	width: 1158px;
	height: 2217px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/241.jpg") no-repeat center top;
	background-size: contain;
}

#u227
{
	z-index: 29;
	width: 1158px;
	height: 2217px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/234.jpg") no-repeat center top;
	background-size: contain;
}

#u235
{
	z-index: 30;
	width: 1158px;
	height: 2217px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/235.jpg") no-repeat center top;
	background-size: contain;
}

#u243
{
	z-index: 31;
	width: 1158px;
	height: 2217px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/236.jpg") no-repeat center top;
	background-size: contain;
}

#u251
{
	z-index: 32;
	width: 1158px;
	height: 2217px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/wdc.jpg") no-repeat center top;
	background-size: contain;
}

#u259
{
	z-index: 33;
	width: 1158px;
	height: 2217px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/237.jpg") no-repeat center top;
	background-size: contain;
}

#u267
{
	z-index: 34;
	width: 1158px;
	height: 2217px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/238.jpg") no-repeat center top;
	background-size: contain;
}

#u275
{
	z-index: 35;
	width: 1158px;
	height: 2217px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/239.jpg") no-repeat center top;
	background-size: contain;
}

#u283
{
	z-index: 36;
	width: 1158px;
	height: 2217px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/240.jpg") no-repeat center top;
	background-size: contain;
}

#u291
{
	z-index: 37;
	width: 1158px;
	height: 2217px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/233.jpg") no-repeat center top;
	background-size: contain;
}

#u362
{
	z-index: 38;
	width: 1158px;
	height: 2217px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/242.jpg") no-repeat center top;
	background-size: contain;
}

#u409
{
	z-index: 39;
	width: 1158px;
	height: 2217px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/playpizza_index.jpg") no-repeat center top;
	background-size: contain;
}

#u417
{
	z-index: 40;
	width: 1158px;
	height: 2217px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/243.jpg") no-repeat center top;
	background-size: contain;
}

#u186
{
	position: absolute;
	width: 31px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: -153px;
	left: 1201px;
}

#u186:hover
{
	background-color: #999999;
	width: 31px;
	min-height: 0px;
	margin: 0px;
}

#u186:active
{
	background-color: #6B6B6B;
	width: 31px;
	min-height: 0px;
	margin: 0px;
}

#u187-4
{
	z-index: 42;
	width: 29px;
	min-height: 28px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #000000;
	color: #FFFFFF;
	line-height: 25px;
	font-size: 18px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u187-4:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 30px;
	margin: 1px -9999px 1px 0px;
}

#u187-4:hover p
{
	color: #000000;
	visibility: inherit;
	font-size: 18px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu305
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: 344px;
}

#u305
{
	z-index: 46;
	width: 275px;
	height: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

.ie #u305
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u305:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px #FFFFFF,0px 0px 10px #FFFFFF;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.05);
	width: 275px;
	height: 200px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.05);
}

#u306
{
	z-index: 47;
	width: 275px;
	height: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 307px;
}

.ie #u306
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u306:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px #FFFFFF,0px 0px 10px #FFFFFF;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.05);
	width: 275px;
	height: 200px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.05);
}

#u307
{
	z-index: 48;
	width: 275px;
	height: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 617px;
}

.ie #u307
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u307:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px #FFFFFF,0px 0px 10px #FFFFFF;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.05);
	width: 275px;
	height: 200px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.05);
}

#u308
{
	z-index: 49;
	width: 275px;
	height: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 925px;
}

.ie #u308
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u308:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px #FFFFFF,0px 0px 10px #FFFFFF;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.05);
	width: 275px;
	height: 200px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.05);
}

#pu309
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: 32px;
}

#u309
{
	z-index: 50;
	width: 275px;
	height: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

.ie #u309
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u309:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px #FFFFFF,0px 0px 10px #FFFFFF;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.05);
	width: 275px;
	height: 200px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.05);
}

#u310
{
	z-index: 51;
	width: 275px;
	height: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 307px;
}

.ie #u310
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u310:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px #FFFFFF,0px 0px 10px #FFFFFF;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.05);
	width: 275px;
	height: 200px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.05);
}

#u311
{
	z-index: 52;
	width: 275px;
	height: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 617px;
}

.ie #u311
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u311:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px #FFFFFF,0px 0px 10px #FFFFFF;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.05);
	width: 275px;
	height: 200px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.05);
}

#u312
{
	z-index: 53;
	width: 275px;
	height: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 925px;
}

.ie #u312
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u312:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px #FFFFFF,0px 0px 10px #FFFFFF;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.05);
	width: 275px;
	height: 200px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.05);
}

#pu313
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: 36px;
}

#u313
{
	z-index: 54;
	width: 275px;
	height: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

.ie #u313
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u313:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px #FFFFFF,0px 0px 10px #FFFFFF;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.05);
	width: 275px;
	height: 200px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.05);
}

#u314
{
	z-index: 55;
	width: 275px;
	height: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 307px;
}

.ie #u314
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u314:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px #FFFFFF,0px 0px 10px #FFFFFF;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.05);
	width: 275px;
	height: 200px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.05);
}

#u315
{
	z-index: 56;
	width: 275px;
	height: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 618px;
}

.ie #u315
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u315:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px #FFFFFF,0px 0px 10px #FFFFFF;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.05);
	width: 275px;
	height: 200px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.05);
}

#u316
{
	z-index: 57;
	width: 275px;
	height: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 925px;
}

.ie #u316
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u316:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px #FFFFFF,0px 0px 10px #FFFFFF;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.05);
	width: 275px;
	height: 200px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.05);
}

.ie #u183:hover,.ie #u185:hover,.ie #u216:hover,.ie #u226:hover,.ie #u234:hover,.ie #u242:hover,.ie #u250:hover,.ie #u258:hover,.ie #u266:hover,.ie #u274:hover,.ie #u282:hover,.ie #u290:hover,.ie #u361:hover,.ie #u408:hover,.ie #u416:hover,.ie #u305:hover,.ie #u306:hover,.ie #u307:hover,.ie #u308:hover,.ie #u309:hover,.ie #u310:hover,.ie #u311:hover,.ie #u312:hover,.ie #u313:hover,.ie #u314:hover,.ie #u315:hover,.ie #u316:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

body
{
	position: relative;
	min-width: 1200px;
}

